{%# locals: (page:) %}
{% assign prev_page = page.prev_page %}
{% assign next_page = page.next_page %}

{% if prev_page or next_page %}
  <section class="my-8 print:hidden">
    <div
      id="pagination"
      class="px-0.5 flex items-center text-sm font-semibold"
      data-controller="link-target"
    >
      {% if prev_page %}
        <a
          class="group/prev flex min-w-0 items-center space-x-3 text-base-content/80 no-underline hover:text-base-content"
          href="{{ prev_page.path }}"
        >
          <i
            class="ri-arrow-left-s-line shrink-0 text-xs leading-none text-base-content/50 group-hover/prev:text-base-content"
            aria-hidden="true"
          ></i>
          <span class="truncate">{{ prev_page.link_text }}</span>
        </a>
      {% endif %}

      {% if next_page %}
        <a
          class="group/next flex min-w-0 items-center ml-auto space-x-3 text-base-content/80 no-underline hover:text-base-content"
          href="{{ next_page.path }}"
        >
          <span class="truncate">{{ next_page.link_text }}</span>
          <i
              class="ri-arrow-right-s-line shrink-0 text-xs leading-none text-base-content/50 group-hover/next:text-base-content"
              aria-hidden="true"
            ></i>
        </a>
      {% endif %}
    </div>
  </section>
{% endif %}
